* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  transition: 0.3s;
}

body {
  height: 100vh;
  background-color: #f98a89;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
